<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/sncss/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/sncss/js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	$("dd div").click(function(){
		if($(this).hasClass("titActive"))
		{
			$(this).removeClass("titActive");
			$(this).children("i").removeClass("Iactive");
		}
		else{
			$(this).addClass("titActive");
			$(this).children("i").addClass("Iactive");
			$(this).parent().siblings().children("div").removeClass("titActive");
			$(this).parent().siblings().children("div").children("i").removeClass("Iactive");
		}
	});
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#34495e;">
    
    <dl class="leftmenu">
    <if condition="check_premission('基本操作') "> 
    <dd>
    <div class="title titActive">
    <span><img src="/sncss/images/left0.png" /></span>基本操作<i class="Iactive"></i>
    </div>
    	<ul class="menuson">
        <li style="display:none;"><a href="/admin.php/Home/Index/sys_info" target="rightFrame">系统信息</a><i></i></li>
        <li><a href="/admin.php/Home/Index/base_info" target="rightFrame">基础信息</a><i></i></li>
        <!--<li><a href="/admin.php/Home/Shop/rule_manage" target="rightFrame">单页信息维护</a><i></i></li>-->
        <li><a href="/admin.php/Home/Index/pd_set" target="rightFrame">提供开启/关闭</a><i></i></li>
        <li><a href="/admin.php/Home/Index/accpet_set" target="rightFrame">接受开启/关闭</a><i></i></li>
        <!--<li><a href="/admin.php/Home/Index/mem_set" target="rightFrame">会员基本设置</a><i></i></li>-->
        </ul>    
    </dd>
    </if>
    
    
    <if condition="check_premission('会员管理') ">     
    <dd>
    <div class="title ">
    <span><img src="/sncss/images/left1.png"></span>会员管理<i class=""></i>
    </div>
    	<ul class="menuson">
        <li><a href="/admin.php/Home/Index/userlist" target="rightFrame">所有會員</a><i></i></li>
        <!-- <li><a href="/admin.php/Home/Index/jbzs" target="rightFrame">调整静态钱包</a><i></i></li> -->
        <!-- <li><a href="/admin.php/Home/Index/opt_tj_wallet" target="rightFrame">调整动态钱包</a><i></i></li> -->
        <!-- <li><a href="/admin.php/Home/Index/opt_manager_wallet" target="rightFrame">调整经理钱包</a><i></i></li>-->
        <li><a href="/admin.php/Home/Index/team" target="rightFrame">会员关系网</a><i></i></li>
        <li><a href="/admin.php/Home/Shop/show_man_count" target="rightFrame">显示人数</a><i></i></li>
        </ul>    
    </dd>
       </if> 
    

    
    <if condition="check_premission('文章管理') "> 
    <dd><div class="title"><span><img src="/sncss/images/left2.png" /></span>文章管理<i class=""></i></div>
    <ul class="menuson">

		<li><a href="/admin.php/Home/Shop/zsbyg_list" target="rightFrame">新闻公告</a><i></i></li>
		<li><a href="/admin.php/Home/Shop/zsbyg_list_xg" target="rightFrame">添加内容</a><i></i></li>
<!--		<li><a href="/admin.php/Home/Index/yuanzhugg" target="rightFrame">援助公告</a><i></i></li>-->
    </ul>    
    </dd> 
    </if> 
    
	
    <if condition="check_premission('留言管理') "> 
	 <dd><div class="title"><span><img src="/sncss/images/left3.png" /></span>留言管理<i class=""></i></div>
    <ul class="menuson">

		<li><a href="/admin.php/Home/Shop/ly_list/type/0/" target="rightFrame">未处理留言</a><i></i></li>
		<li><a href="/admin.php/Home/Shop/ly_list/type/1/" target="rightFrame">已处理留言</a><i></i></li>
    </ul>    
    </dd>  
    </if>
    
    <if condition="check_premission('激活码管理') "> 
    
  <dd><div class="title"><span><img src="/sncss/images/left4.png" /></span>激活码管理<i class=""></i></div>
    <ul class="menuson">
        <li><a href="/admin.php/Home/Index/pin_add" target="rightFrame">生成激活码</a><i></i></li>
		<li><a href="/admin.php/Home/Index/pin_list" target="rightFrame">激活码管理</a><i></i></li>
    </ul>
    
    </dd>
    </if>
    
<if condition="check_premission('排单码管理') "> 
      <dd><div class="title"><span><img src="/sncss/images/left5.png" /></span>排单码管理<i class=""></i></div>
    <ul class="menuson">
        <li><a href="/admin.php/Home/Index/paidan_add" target="rightFrame">生成排单码</a><i></i></li>
		<li><a href="/admin.php/Home/Index/paidan_list" target="rightFrame">排单码管理</a><i></i></li>
        <li><a href="/admin.php/Home/Index/paidancode_set" target="rightFrame">排单码开启/关闭</a><i></i></li>
    </ul>
    
    </dd>
</if>
    <!--
<if condition="check_premission('任务审核') "> 

    <dd><div class="title"><span><img src="/sncss/images/left6.png" /></span>任务审核<i class=""></i></div>
    <ul class="menuson">
		<li><a href="/admin.php/Home/Shop/task_list/type/0/" target="rightFrame">未处理任务</a><i></i></li>
		<li><a href="/admin.php/Home/Shop/task_list/type/1/" target="rightFrame">已处理任务</a><i></i></li>
    </ul>    
    </dd>    
	</if>
    -->
<if condition="check_premission('奖金管理') "> 
	
	  <dd><div class="title"><span><img src="/sncss/images/left7.png" /></span>奖金管理<i class=""></i></div>
    <ul class="menuson">
        <li><a href="/admin.php/Home/Index/jjset" target="rightFrame">奖金设定</a><i></i></li>
		<li><a href="/admin.php/Home/Index/txset" target="rightFrame">提现设置</a><i></i></li>

        <li><a href="/admin.php/Home/Index/lixi" target="rightFrame">利息配置</a><i></i></li>
		<li><a href="/admin.php/Home/Index/hot" target="rightFrame">抢单大厅设置</a><i></i></li>

    </ul>
    
    </dd>   
	
	</if>
    
<if condition="check_premission('匹配系统') "> 
	
	  <dd><div class="title"><span><img src="/sncss/images/left8.png" /></span>匹配系统<i class=""></i></div>
    <ul class="menuson">
        <li><a href="/admin.php/Home/Index/tgbz_list" target="rightFrame">提供帮助</a><i></i></li>
		<li><a href="/admin.php/Home/Index/jsbz_list" target="rightFrame">接受帮助</a><i></i></li>
		<li><a href="/admin.php/Home/Index/ppdd_list" target="rightFrame">交易中的订单</a><i></i></li>
		<li><a href="/admin.php/Home/Index/ppdd_list/cz/1/" target="rightFrame">成功交易订单</a><i></i></li>
		<li><a href="/admin.php/Home/Index/ts1_list" target="rightFrame">到期未打款</a><i></i></li>
		<li><a href="/admin.php/Home/Index/ts3_list" target="rightFrame">未收到款投诉</a><i></i></li>
			 <li><a href="/admin.php/Home/Index/tgbz_list_cf" target="rightFrame">提供拆分</a><i></i></li>
		<li><a href="/admin.php/Home/Index/jsbz_list_cf" target="rightFrame">接受拆分</a><i></i></li>
		<!--<li><a href="/admin.php/Home/Index/pin_list" target="rightFrame">PIN管理</a><i></i></li>-->
		<!--<li><a href="/admin.php/Home/Shop/zsbyg_list" target="rightFrame">钻石币云购管理</a><i></i></li>
        <li><a href="#">正能量文章</a><i></i></li>
        <li><a href="#">首页公告</a><i></i></li>-->
    </ul>
    
    </dd>  
    
    </if>
	
	<if condition="check_premission('大转盘管理') "> 
	
	<dd><div class="title"><span><img src="/sncss/images/left10.png" /></span>抽奖设置<i class=""></i></div>
    <ul class="menuson">
		<li><a href="/admin.php/Home/Index/cj_set" target="rightFrame">抽奖设置</a><i></i></li>
		<li><a href="/admin.php/Home/Index/zj_list" target="rightFrame">中奖信息</a><i></i></li>
    </ul>
    
<if condition="check_premission('备份/恢复') ">  
  <dd><div class="title"><span><img src="/sncss/images/left9.png" /></span>数据备份/还原<i class=""></i></div>
    <ul class="menuson">
<!--<li><a  onClick="javascript:if(!confirm('确认要清理数据表吗？'))  return  false; "  href="/admin.php/Home/Index/qingchushuju" target="rightFrame" style="color:#F00;">清理数据表-危险</a><i></i></li>-->
<li><a href="/admin.php/Home/Baksql/" target="rightFrame">备份/还原数据库</a><i></i></li>
    </ul>
	</if>
	
	
	
	  <!--
	<dd><div class="title"><span><img src="/sncss/images/leftico04.png" /></span>留言管理</div>
    <ul class="menuson">
        <li><a href="#">所有留言</a><i></i></li>
    </ul>
    
    </dd>  -->
	
    
    </dl>
    
</body>
</html>
