<!DOCTYPE html PUBLIC "-//W3C//Dth XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/Dth/xhtml1-transitional.dth">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/sncss/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/sncss/js/jquery.js"></script>

</head>


<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">基本设置</a></li>
    <li><a href="#">系统信息</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
    <table class="tablelist">
      <tr>
        <th width="12%" height="42" bgcolor="#FFFFFF">服务器时间</th>
        <th width="88%" bgcolor="#FFFFFF">{$time}</th>
      </tr>
      <tr>
        <th height="42" bgcolor="#FFFFFF">服务器信息</th>
        <th bgcolor="#FFFFFF">{$sys1}</th>
      </tr>
      <tr>
        <th height="42" bgcolor="#FFFFFF">PHP版本</th>
        <th bgcolor="#FFFFFF">{$version}</th>
      </tr>
      <tr>
        <th height="42" bgcolor="#FFFFFF">客户端IP</th>
        <th bgcolor="#FFFFFF">{$client_ip}</th>
      </tr>
        <th height="42" bgcolor="#FFFFFF">服务器语言</th>
        <th bgcolor="#FFFFFF">{$language}</th>
      </tr>
      <tr>
        <th height="42" bgcolor="#FFFFFF">服务器Web端口</th>
        <th bgcolor="#FFFFFF">{$port}</th>
      </tr>
    </table>
</body>

</html>